*.iml
.idea/
.DS_Store
.gradle/
local.properties
/build/
.cxx/
.externalNativeBuild/
captures/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Temp files
ToDo_V_0.2
